{% extends 'admin_base.html' %}
{% load static %}
{% block content-block  %} <!--endblock 으로 바꿔서 맨아래 삽입  
	 키워드  1.Logs 2번쨰꺼-->

   <head>
    <title>Tables</title>
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/assets/styles.css" rel="stylesheet" media="screen">
    <link href="/static/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

   {% comment %} <script src="http://code.jquery.com/jquery-latest.min.js"></script> {% endcomment %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript">
		function Delete_btn(){
			confirm_R=confirm('정말 삭제 하시겠습니까?')
			if(confirm_R){
        location.href="{% url 'newadmin:event_delete' nowpage no%}"
			}
		}
	 </script>


                <!--/span-->
                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    

                     <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Form Example</div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12">

                                  
                                    <form class="form-horizontal" action="{% url 'newadmin:event_list_view' nowpage no%}" name="eventform" id="eventform" method="post" enctype="multipart/form-data">
                                      {% csrf_token%}
                                      <fieldset>
                                        <legend>이벤트 수정</legend>

                                        <div class="control-group">
                                          <label class="control-label" for="typeahead">우선순위</label>
                                          <div class="controls">
                                            <input type="text" class="span6" id="event_no" name="event_no" value="{{board.E_event_no}}" data-provide="eventtitle" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                                          </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label"  for="select01">진행중,종료</label>
                                          <div class="controls">
                                            <select  type='text' id="event_progress" name="event_progress" class="select" value={{board.E_progress}}>
                                              <option value="진행중" {%if "진행중" in board.E_progress %} selected {% endif %} >진행중</option>
                                              <option value="종료"  {%if "종료" in board.E_progress %} selected {% endif %}>종료</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label" for="typeahead">이벤트 타이틀 </label>
                                          <div class="controls">
                                            <input type="text" class="span6" id="event_title" name="event_title" value="{{board.E_title}}" data-provide="eventtitle" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                                          </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label" for="textarea2">이벤트 내용</label>
                                          <div class="controls">
                                            <textarea class="input-xlarge textarea" id='event_content' name='event_content' value="{{board.E_content}}" placeholder="Enter text ..." style="width: 810px; height: 200px">{{board.E_content}}</textarea>
                                          </div>
                                        </div>

                                
                                        
                                        <div class="control-group">
                                          <label class="control-label" for="typeahead">이벤트 시작일</label>
                                          <div class="controls">
                                            <input type="text" class="span6" id="event_srart" name="event_srart" value="{{board.E_start_day}}" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                                            <p class="help-block">yyyy/mm/dd 형식으로 작성해주세요</p>
                                          </div>
                                        </div>
                                        
                                        <div class="control-group">
                                          <label class="control-label" for="typeahead">이벤트 종료일</label>
                                          <div class="controls">
                                            <input type="text" class="span6" id="event_end" name="event_end" value="{{board.E_end_day}}" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                                            <p class="help-block">변경 후 사진은 저장 이후에 나타납니다.</p>
                                          </div>
                                        </div>


                                      

                                        <div class="control-group">
                                          <label class="control-label" for="fileInput">표지 이벤트 사진</label>
                                          <div class="controls"> 
                                            <input name='sub_image02' type="hidden"  {%if board.E_image02%}value={{board.E_image02}}{%endif%}></input>
                                            <input class="input-file uniform_on" id="image02" name='image02' type="file">{{board.E_image02}}</input>
                                            <p class="help-block">
                                            {%if board.E_image02%}
                                            <td><img src="{{board.E_image02.url}}"></td>
                                            {%endif%}
                                          </div>
                                        </div>


                                        <div class="control-group">
                                          <label class="control-label" for="fileInput">이벤트 사진</label>
                                          <div class="controls"> 
                                            <input name='sub_image' type="hidden"  {%if board.E_image%}value={{board.E_image}}{%endif%}></input>
                                            <input class="input-file uniform_on" id="image" name='image' type="file">{{board.E_image}}</input>
                                            <p class="help-block">
                                            {%if board.E_image%}
                                            <td><img src="{{board.E_image.url}}"></td>
                                            {%endif%}
                                          </div>
                                        </div>
                                        
                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-primary">Save</button>
                                          <button type="button" class="btn btn-danger" onclick='Delete_btn()'><i class="icon-remove icon-white"></i> Delete</button>
                                          <button type="button" class="btn" button onclick="location.href='{%url 'newadmin:event_list' nowpage%}'";>Cancel</button>
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>

                     
            
				</div>
			    </div>
			</div>
                     	<!-- /block -->
		    </div>
                     <!-- /validation -->


                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; Vincent Gabriel 2013</p>
            </footer>
        </div>
        <!--/.fluid-container-->
        <link href="/static/vendors/datepicker.css" rel="stylesheet" media="screen">
        <link href="/static/vendors/uniform.default.css" rel="stylesheet" media="screen">
        <link href="/static/vendors/chosen.min.css" rel="stylesheet" media="screen">

        <link href="/static/vendors/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">
        
        <script src="/static/vendors/jquery-1.9.1.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/vendors/jquery.uniform.min.js"></script>
        <script src="/static/vendors/chosen.jquery.min.js"></script>
        <script src="/static/vendors/bootstrap-datepicker.js"></script>

        <script src="/static/vendors/wysiwyg/wysihtml5-0.3.0.js"></script>
        <script src="/static/vendors/wysiwyg/bootstrap-wysihtml5.js"></script>

        <script src="/static/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

	<script type="text/javascript" src="/static/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/static/assets/form-validation.js"></script>
        
	<script src="/static/assets/scripts.js"></script>
        <script>

	jQuery(document).ready(function() {   
	   FormValidation.init();
	});
	

        $(function() {
            $(".datepicker").datepicker();
            $(".uniform_on").uniform();
            $(".chzn-select").chosen();
            $('.textarea').wysihtml5();

            $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;
                var $percent = ($current/$total) * 100;
                $('#rootwizard').find('.bar').css({width:$percent+'%'});
                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $('#rootwizard').find('.pager .next').hide();
                    $('#rootwizard').find('.pager .finish').show();
                    $('#rootwizard').find('.pager .finish').removeClass('disabled');
                } else {
                    $('#rootwizard').find('.pager .next').show();
                    $('#rootwizard').find('.pager .finish').hide();
                }
            }});
            $('#rootwizard .finish').click(function() {
                alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });
        });
        </script>
    </body>

</html>

{% endblock content-block %} 