{% extends 'base.html' %} {% load static %} {% block content-block  %}
<!--endblock 으로 바꿔서 맨아래 삽입  
	 키워드  1.대량구매  2.개인정보 -->
<div id="container">
  <div id="location">
    <ol>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">COMMUNITY</a>
      </li>
      <li class="last">Q&A</li>
    </ol>
  </div>
  <div id="outbox">
    <div id="left">
      <div id="title2">COMMUNITY <span>Q&A</span>
      </div>
      <ul> {% comment %} <li>
          <a href="#" id="leftNavi1">체험단</a>
        </li> {% endcomment %} <li>
          <a href="#" id="leftNavi2">Q&A</a>
        </li> {% comment %} <li class="last">
          <a href={%url "fboard:f_event"%} id="event">EVENT</a>
        </li> {% endcomment %} </ul>
    </div>
    <script type="text/javascript">
      initSubmenu(2, 0);
    </script>
    <!-- contents -->
    <div id="contents">
      <div id="mypage">
        <h2>
          <strong>Q&A</strong>
          <span>회원님들의 소중한 Q&A 입니다.</span>
        </h2>
        <div class="productTab normaltab">
          <ul>
            <li class="last">
              <a href="#" class="on">상품평</a>
            </li>
          </ul>
        </div>
        <!-- 상품평 -->
        <div class="orderDiv">
          <table summary="상품평 게시판으로 NO, 제품명, 제목, 작성자, 평점/등록일, 조회수 순으로 조회 하실수 있습니다." class="orderTable" border="1" cellspacing="0">
            <caption>주문 제품 확인</caption>
            <colgroup>
              <col width="8%" class="tnone" />
              <col width="14%" class="tw20" />
              <col width="*" />
              <col width="14%" class="tw20" />
              <col width="14%" class="tnone" />
              <col width="10%" class="tnone" />
            </colgroup>
            <thead>
              <th scope="col" class="tnone">NO.</th>
              <th scope="col">제목</th>
              <th scope="col">내용</th>
              <th scope="col">작성자</th>
              <th scope="col" class="tnone">등록일/평점</th>
              <th scope="col" class="tnone">조회수</th>
            </thead>
            <tbody> {%if fList%} {%for board in fList%} <tr>
                <td class="tnone">{{board.f_No}}</td>
                <td>{{board.f_Title|truncatechars:8}}</td>
                <td class="left">
                  <a href="{%url 'fboard:f_view' nowpage board.f_No%}"> {%if board.f_indent != 0 %} {% for i in "x"|rjust:board.f_indent %} ▶ {% endfor %} {%endif%} <span class="orange"></span>{{board.f_Detail|truncatechars:20}} {% comment %} <img src="../images/ico/ico_new.gif" alt="new" /> {% endcomment %} </a>
                </td>
                <td>{{board.f_writer}}</td>
                <td class="tnone">
                  {{board.f_createdate|truncatechars:11}}
                </td>
                <td class="right tnone">{{board.f_hit}}</td>
              </tr> {%endfor%} {%else%} <td></td>
              <td></td>
              <td class="left">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp게시글이 존재하지 않습니다.</td>
              <td></td>
              <td></td>
              <td></td> {%endif%}
            </tbody>
          </table>
        </div>
        <div class="btnAreaList">
          <div class="bwright">
            <ul>
              <li>
                <a href="{%url 'fboard:f_write' nowpage%}" class="sbtnMini">글쓰기</a>
              </li>
            </ul>
          </div>
          <!-- 페이징이동1 -->
          <div class="allPageMoving1">
            <a href="#" class="n">
              <img src="/static/images/btn/btn_pre2.gif" alt="처음으로" />
            </a>
            <a href="#" class="pre">
              <img src="/static/images/btn/btn_pre1.gif" alt="앞페이지로" />
            </a> {% comment %} <strong>1</strong> {% endcomment %} <a href="{%url 'fboard:f_list' nowpage=1%}">1</a>
            <a href="{%url 'fboard:f_list' nowpage=2%}">2</a>
            <a href="{%url 'fboard:f_list' nowpage=3%}">3</a>
            <a href="{%url 'fboard:f_list' nowpage=4%}">4</a>
            <a href="{%url 'fboard:f_list' nowpage=5%}">5</a>
            <a href="#" class="next">
              <img src="/static/images/btn/btn_next1.gif" alt="뒤페이지로" />
            </a>
            <a href="#" class="n">
              <img src="/static/images/btn/btn_next2.gif" alt="마지막페이지로" />
            </a>
          </div>
          <!-- //페이징이동1 -->
        </div>
        <div class="searchWrap">
          <div class="search">
            <ul>
              <li class="web">
                <img src="/static/images/txt/txt_search.gif" alt="search" />
              </li>
              <li class="se">
                <select>
                  <option value="" />제목</option>
                </select>
              </li>
              <li>
                <input type="text" class="searchInput" />
              </li>
              <li class="web">
                <a href="#">
                  <img src="/static/images/btn/btn_search.gif" alt="검색" />
                </a>
              </li>
              <li class="mobile">
                <a href="#">
                  <img src="/static/images/btn/btn_search_m.gif" alt="검색" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- //상품평 -->
      </div>
    </div>
    <!-- //contents -->
  </div>undefined
</div>undefined
<!-- //container --> {% endblock content-block  %}